<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .h2-text {
            color: red
        }
    </style>
</head>
<body>
<div>
    <h1 id="h1-text">h1 text</h1>
    <h2 class="h2-text">h2 text</h2>
    <h3 class="h2-text">h3 text</h3>
    <p>Token-efficient browser automation for coding agents like Claude Code and
        <span style="color: green">GitHub Copilot</span>.
        Skill-based workflows
        without large context overhead.</p>
    <a href="https://translate.google.com/?hl=ru&sl=en&tl=ru&op=translate/" target="_blank">Python</a>
    <img src="https://playwright.dev/img/logos/Browsers.png" alt="Playwright Browsers Logo" style="width: 200px">
    <ul>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
        <li>item 4</li>
    </ul>
    <ol>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
        <li>item 4</li>
    </ol>
    <form action="/action" method="POST">
        <div>
            <label for="user-name">User Name:</label>
            <input type="text" id="user-name" placeholder="Enter User Name">
        </div>

        <div>
            <label for="user-email">Email Address:</label>
            <input type="email" id="user-email" placeholder="Enter email address">
        </div>

        <div>
            <label for="user-password">Password:</label>
            <input required type="password" id="user-password" placeholder="Enter password">
        </div>

        <div>
            <label for="user-message">Message:</label>
            <textarea id="user-message" rows="1" placeholder="Enter Message"></textarea>
        </div>

        <div>
            <button type="submit">text</button>
        </div>
        <table>
            <thead>
            <tr>
                <Td>Item1</Td>
                <Td>Item2</Td>
                <Td>Item3</Td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <Td>row1</Td>
                <Td>row2</Td>
                <Td>row3</Td>
            </tr>
            <tr>
                <Td>row1</Td>
                <Td>row2</Td>
                <Td>row3</Td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>